[submodule "agc-applinking-demo-iOS"]
	path = agc-applinking-demo-iOS
	url = https://github.com/AppGalleryConnect/agc-applinking-demo-iOS.git
[submodule "agc-appmessaging-demo-iOS"]
	path = agc-appmessaging-demo-iOS
	url = https://github.com/AppGalleryConnect/agc-appmessaging-demo-iOS.git
[submodule "agc-authservice-demo-iOS"]
	path = agc-authservice-demo-iOS
	url = https://github.com/AppGalleryConnect/agc-authservice-demo-iOS.git
[submodule "agc-cloudfunction-demo-iOS"]
	path = agc-cloudfunction-demo-iOS
	url = https://github.com/AppGalleryConnect/agc-cloudfunction-demo-iOS.git
[submodule "agc-remoteconfiguration-demo-iOS"]
	path = agc-remoteconfiguration-demo-iOS
	url = https://github.com/AppGalleryConnect/agc-remoteconfiguration-demo-iOS.git
[submodule "agc-crash-demo-iOS"]
	path = agc-crash-demo-iOS
	url = https://github.com/AppGalleryConnect/agc-crash-demo-iOS.git
